* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#titlescreen {
  margin-top: 10px;
}

#muteButton {
  position: absolute;
  top: 10px;
  left: 10px;
}

#clickstart {
  filter: opacity(100%);
  position: relative;
  bottom: -50px;
  text-shadow: 1px 1px white;
  animation: blinking 0.7s infinite;
}
@keyframes blinking {
  0% {
    filter: opacity(100%);
  }
  60% {
    filter: opacity(100%);
  }
  100% {
    filter: opacity(0%);
  }
}

p {
  margin: 2px;
  font-size: 0.5em;
  font-family: "Press Start 2P", cursive;
}

.TitleScreen {
  display: block;
  overflow: hidden;
  width: 500px;
  height: 200px;
  border: 3px solid black;
  margin: auto;
  background-image: url("./src/backgroundfinalfat.gif");
  text-align: center;
}

.TitleScreen img:nth-child(1) {
  position: relative;
  top: 111px;
  left: -22px;
  animation: movingright 0.8s ease-out;
}
@keyframes movingright {
  0% {
    left: -95px;
  }
  60% {
    left: -15px;
  }
  100% {
    left: -22px;
  }
}

.TitleScreen img:nth-child(2) {
  position: relative;
  transform: translate(-50px);
}

.GameOver {
  display: none;
  overflow: hidden;
  width: 500px;
  height: 200px;
  border: 3px solid black;
  margin: auto;
  background-image: url("./src/backgroundfinalfat.gif");
  z-index: -1;
  text-align: center;
}

.GameOver img {
  margin: 10px;
}

.GameOver p {
  margin: 35px;
  color: black;
  text-shadow: 1px 1px white;
}

.Game {
  display: none;
  overflow: hidden;
  width: 500px;
  height: 200px;
  border: 3px solid black;
  margin: auto;
  background-image: url("./src/backgroundfinalfat.gif");
}

#Player {
  margin: 0;
  padding: 0;
  position: relative;
  left: 25px;
  top: 133px;
}

.jumping {
  animation: rotation 0.6s ease-in, jump 0.6s linear;
}
@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(-20deg);
  }
}
@keyframes jump {
  0% {
    top: 132px;
  }
  10% {
    top: 116px;
  }
  20% {
    top: 106px;
  }
  30% {
    top: 95px;
  }
  40% {
    top: 90px;
  }
  45% {
    top: 85px;
  }
  50% {
    top: 83px;
  }
  55% {
    top: 85px;
  }
  60% {
    top: 105px;
  }
  70% {
    top: 125px;
  }
  90% {
    top: 128px;
  }
  100% {
    top: 132px;
  }
}

#Obstacle {
  width: 20px;
  height: 20px;
  position: relative;
  top: 130px;
  left: 429px;
  animation: obstacle 1s infinite linear;
}
@keyframes obstacle {
  0% {
    left: 429px;
  }
  100% {
    left: -125px;
  }
}

#scoreSpan {
  font-family: "Press Start 2P", cursive;
  text-align: center;
}
